@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@700&display=swap');
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.chart-container {
  width: 95%;
  margin: 20px auto;
}

.chart {
  display: flex;
  border: 1px solid #ccc;
  padding: 10px;
}

.bar {
  display: flex;
  flex-direction: column-reverse;
  width: 100%; /* Adjust the width of the bars as needed */
}

.bar-segment {
  height: 20px;
  transition: height 1s ease-in-out;
}

#bar1{
  background-color: #3498db; 
}

#bar2{
  background-color: #ff0000; 
}

#bar3{
  background-color: #d0db34; 
}

#bar4{
  background-color: #00ff48; 
}

#bar5{
  background-color: #9f6bff; 
}

#bar6{
  background-color: #9500ff; 
}

#bar7{
  background-color: #878787; 
}

#bar8{
  background-color: #ff7b00; 
}

#bar9{
  background-color: #83aac4; 
}

#bar10{
  background-color: #2d00a9; 
}

#bar11{
  background-color: #d4d4d4; 
}

#bar12{
  background-color: #00ffbb; 
}

#bar13{
  background-color: #7f773a; 
}

#bar14{
  background-color: #7c2c00; 
}
#bar1_1{
  background-color: #58db34; 
}

#bar2_1{
  background-color: #b0c351; 
}

#bar3_1{
  background-color: #db34bf; 
}
.ul{
  display: flex;
  justify-content: space-around;
}
#ul{
  display: flex;
  gap: 5.2rem;
  margin-left: 2.7rem;
}
.btnSell{
  width: 100rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 15.5rem;
  gap: 1rem;
}
.Btn button{
  width: 200px;
  height: 50px;
  border-radius: 0%;
  border-width: 10px;
  font-family: 'Skranji', cursive;
  border: solid;
  background: #fff;
  cursor: pointer;
}
.btnSell button{
  border-color: #ff6943;
}
.btnadd button{
  border-color: #69ff43;
}
.Btn{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.calculator {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.calculator-content {
  padding: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}
