body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.chart-container {
  width: 80%;
  margin: 20px auto;
}

.chart {
  display: flex;
  border: 1px solid #ccc;
  padding: 10px;
}

.bar {
  display: flex;
  flex-direction: column-reverse;
  width: 200px; /* Adjust the width of the bars as needed */
}

.bar-segment {
  height: 20px;
  transition: height 1s ease-in-out;
}

#bar1{
  background-color: #3498db; 
}

#bar2{
  background-color: #ff0000; 
}

#bar3{
  background-color: #d0db34; 
}

#bar4{
  background-color: #00ff48; 
}

#bar5{
  background-color: #000000; 
}

#bar6{
  background-color: #9500ff; 
}

#bar7{
  background-color: #878787; 
}

#bar8{
  background-color: #ff7b00; 
}

#bar9{
  background-color: #83aac4; 
}

#bar10{
  background-color: #2d00a9; 
}

#bar11{
  background-color: #d4d4d4; 
}

#bar12{
  background-color: #00ffbb; 
}

#bar13{
  background-color: #7f773a; 
}

#bar14{
  background-color: #7c2c00; 
}
#bar1_1{
  background-color: #3498db; 
}

#bar2_1{
  background-color: #ff0000; 
}

#bar3_1{
  background-color: #d0db34; 
}
